# onchainkit
NEXT_PUBLIC_ONCHAINKIT_API_KEY=""

# reown
NEXT_PUBLIC_REOWN_PROJECT_ID=""

# react devtools
REACT_EDITOR="cursor"

# neondb
DATABASE_URL=""

# next auth
NEXTAUTH_URL=""

AUTH_SECRET="" # Added by `npx auth secret`. Read more: https://cli.authjs.dev